$background-color: #00a36d;

div#message {
    border: 5px solid black;
    margin: 3% 10% 6% 10%;
    padding: 2% 10%;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 50px $background-color;
    background-color: #f2eecb;
    font-size: 1.2rem;
    font-weight: 900;

    h2,
    h3 {
        margin-top: 2%;
    }

    button {
        width: 10rem;
        font-size: 0.9rem;
        font-weight: 900;
        font-style: italic;
        background-color: $background-color;
        border-radius: 5px 5px;
        border-style: outset;

        &:hover {
            box-shadow: 1px 1px 10px $background-color;
        }
    }
}
