/* SCSS HEX */
$green-ncs: #00a36dff;
$persian-orange: #db995aff;
$liver: #654236ff;
$chocolate-web: #da7635ff;
$flame: #e24e1bff;

$background-color: #00a36d;
$text-color: #654236;
.logo {
    font-family: Caveat, sans-serif;
    color: $text-color;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 3px 3px $flame;
    text-align: center;
}

header {
    color: $text-color;
    background-color: $background-color;
    font-weight: bolder;
    font-size: 1.3rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    .mr-auto {
        text-decoration: none;
    }
}

img {
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
