$background-color: #00a36d;
$text-color: #090446;
.logo {
    font-family: Caveat, sans-serif;
    color: $text-color;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 3px 3px lightgreen;
    text-align: center;
}

header {
    color: $text-color;
    background-color: $background-color;
    font-weight: bolder;
    font-size: 1.2rem;
}
