$base-color:#A7C6DA;
$nav-color:#02111B;
$second-color:#3F4045;
$text-color:#30292F;
$title-font-size:3em;
$text-font-size:1.5em;
body{
background-color: whitesmoke;
margin-top:5%;

}
nav{
    background-color: $nav-color;
    margin:0;
    position: fixed;
    top:0;
    width: 100%;
     ul{
       list-style:none;
       display: flex;
       margin:0;
       li{
           flex-direction: row;
           justify-content: space-between;
           padding: 1.5%;
           color:$base-color;
           &:hover{
               background-color: $second-color;
           }
           a{
                color:$base-color;
                text-decoration: none;
                font-size: 1.5em;
           }
       }
   }
}

main{
    h1{
            background-color:$nav-color;
            padding:5%;
            color:$base-color;
            font-size:$title-font-size;
            text-align: center;
        }
    section{
        
        article{
            margin:0 0 5% 3%;
            padding:1%;
            font-size: $text-font-size;
           img{
               margin: 1% 0 1% 0;
               background: $base-color;
           }
            input{
                width: 3em;
            }
           .right{
               color:green;
           }
           .wrong{
               color:red;
           }
        }
    }
}